RewriteEngine On
RewriteCond %{HTTP_HOST} ^twitter.lookahead\.io$ [NC]
RewriteRule ^(.*)$ http://twitter.lookahead\.io/$1 [R=301,L]
# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# otherwise forward it to index.php
RewriteRule . index.php
